@import '../../val.scss';

#content {
    margin-top: $spaceBetween;
    width: $a4Width - 3cm - $asideSize - $spaceBetween;
}

.bold-line {
    width: 100%; 
    border: thin solid $colorBorders; 
    background-color: $colorBorders; 
    color: $colorBorders; 
    border-radius: 5mm; 
    margin: 1mm 0 2mm 0;
}

h4 {text-transform: uppercase; color: $colorBorders; font-weight: 500;}

.cv-element {
    margin-bottom: $spaceBetween;
}

.group-of-cv-elements div.cv-element:last-child {
    margin-bottom: 0;
}

.ant {
    margin-bottom: $spaceBetweenLess;
}

.anthill div.ant:last-child {
    margin-bottom: 0;
}

.project-label {font-weight: 500;}
.project-field::after {
    content: ":";
}
.link-to-repo {text-decoration: none;}
.icon-color {color: $colorGray;}
.overhead {margin-top: 0.1cm;}

.left-column {

    min-width: $firstColumnWidth;
    margin-right: $spaceBetweenLess;

    span {
        display: block;
        font-size: $smallerFontSize;
        font-weight: 300;
    }
}

.right-column {
    width: 100%;
}

.range::after {
    content: " —";
}

.light {
    font-weight: 300;

    & .place-label::after {
        content: " | ";
    }

    & .place-label, .place-location {
        font-weight: inherit;
    }

    & .place-location {
        font-size: $smallerFontSize;
    }
}

strong {
    font-weight: 500;
}

.award-size {
    float: left;
    font-size: $h3Size;
}

.link-to-repo, .folder-repo {
    font-size: $smallerFontSize;
}

.folder-repo {
    margin-right: 0.5mm;
}