@media print {

    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    
    header {
        display: none;
    }

    html, body, #wrapper, #cv-webpage {
        height: 29.7cm - 2.4cm !important;
        width: 21cm - 3cm !important;
        background: none !important;
        border-radius: none !important;
        box-shadow: none !important;
        padding: 0cm !important;
        margin: 0cm !important;
    }

    #cv-webpage {
        position: absolute !important; 
        left: 0 !important;
        right: 0 !important;
        top: 0 !important;
        bottom: 0 !important;
        margin: auto !important;
        overflow: hidden !important;
    }

    .person-image {
        display: block !important;
    }

    @page {
        size: A4 portrait !important;
        marks: none !important;
        padding: 0cm !important;
        margin: 0cm !important;
    }
}