// ************************
// *** Do not touch it! ***
// ************************
$a4Width: 21cm;
$a4Height: 29.7cm;

// ************************
// *** Basic font-sizes ***
// ************************
$defaultFontSize: 8pt;
$smallerFontSize: 7pt;
$h1Size: 20pt;
$h2Size: 22pt;
$h3Size: 12pt;
$iconListSize: 3pt;
$iconSize: 12pt;

// *********************
// *** Portrait size ***
// *********************
$portraitSize: 4cm;

// *************
// *** Aside ***
// *************
$asideSize: 5cm;

// **************
// *** Tables ***
// **************
$firstColumnWidth: 22mm;

// ****************************
// *** Space between blocks ***
// ****************************
$spaceBetween: 5mm;
$spaceBetweenLess: 3mm;

// *********************
// *** Color palette ***
// *********************
$colorWorkSpace: #F8F9FA;
$colorLetterSpace: #FFFFFF;
$colorLinks: #0000FF;
$colorBorders: #122C4D;
$colorLightGray: #CDD2D7;
$colorGray: #808080; // icons