@import '../../val.scss';

h5, h6 {
    display: inline-block;
    font-size: $smallerFontSize;
    font-weight: 300;
    border: 0.5mm solid $colorLetterSpace;
    border-bottom: 0.5mm solid $colorLightGray;
    padding: 0.3mm 1mm;
    border-radius: 0;
    margin:0 0.5mm 1mm 0;
}

h6 {
    border: none;
    border-radius: none;
    color: $colorLetterSpace;
    background: $colorBorders;
    border: 0.5mm solid $colorLetterSpace;
    border-radius: 2mm;
    font-weight: 400;
}